[mysqld]
character-set-server = utf8mb4
default-time-zone = 'SYSTEM'

explicit-defaults-for-timestamp = 1

general-log = 1
log-output = TABLE

# Rails 用
default_authentication_plugin = mysql_native_password
